$footerHeight: 44px; 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f3f3f3;
}

.content {
    min-height: calc(100vh - #{$footerHeight});
}

h1, h2 {
    text-align: center;
    margin: 1rem;
}
h1 {
    font-size: clamp(1.25rem, 1.25rem + 1vw, 2rem);
}
h2 {
    font-size: clamp(0.9rem, 0.9rem + 1vw, 1.25rem);
}
p {
    font-size: 0.9rem;
    text-align: center;
}

div.graph-container {
    position: relative;
    width: 94vw;
    overflow-y: auto;
    margin: 2rem auto;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: 6px 6px 30px 0 #5e5a74;
    background-color: #666;
    svg {
        width: clamp(500px, 100%, 100%);
        height: auto;
        margin-bottom: -5px;
    }
}

div#tooltip {
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    pointer-events: none;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 0.5rem 0.65rem;
    font-size: clamp(0.75rem, 2vw, 0.85rem);
    border-radius: 5px;
    color: #fff; 
    opacity: 0;
    background-color: #0a0a0a;
    transition: opacity 0.5s;
    p {
        text-align: center;
    }
}

button.reset-zoom {
    position: absolute;
    top: 10%; left: 48%;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 0 5px 1px;
    font-family: 'Open Sans';
    font-size: clamp(0.65rem, 1.4vw, 0.85rem);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    color: #fff;
    background-color: #222;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $footerHeight;
    margin: 4rem 0 0;
    padding: 0.5rem;
    font-size: 0.75rem;
    text-align: center;
    border-top: 1px solid #111;
    box-shadow: 4px 0 30px 1px #5e5a74;
    background: #f3f3f3;
}